<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Все пользователи</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h2>Все пользователи</h2>
        {% for user in users %}
            <div class="user-card">
                <p>{{ user.username }}</p>
                <a href="{{ url_for('message', username=user.username) }}" class="btn">Написать сообщение</a>
            </div>
        {% endfor %}
    </div>
</body>
</html>